body, h1, h2, h3,p,ul,ol{ margin:0; padding: 0; }
ul,ol,li{list-style:none;}
html{font-size:100px;font-size:calc(1000vw/32);background-color:#E1E1E1;}
@media all and (max-width:320px){
	html{font-size:100px;}
}
@media all and (min-width:640px){
	html{font-size:200px;}
}
body{min-width:320px;max-width:640px;margin:0 auto;color:#333;padding:0;font:normal .12em/1.6 "Microsoft YaHei",Verdana,Tahoma;background-color:#13caff;}

html, body {
	height: 100%;
	overflow: hidden;
	-webkit-perspective: 200;
	-moz-perspective: 200;
	perspective: 200;
}
@media screen and (orientation:portrait) {
	#lock{display:none !important;}
}
@media screen and (orientation:landscape) {
	#lock{display:block !important;}
}
#lock.portrait {
	display:none!important;
}
#lock.landscape {
	display:block!important;
}
/** 锁屏样式 **/
#lock {
	position:absolute;
	left:0;top:0;
	width:100%;
	height:100%;
	background:#13caff;
	z-index:50;
	display:none
}
#lock p {
	position:absolute;
	color:white;
	white-space:nowrap;
	width:190px;
	padding:10px;
	height:22px;
	line-height:22px;
	top:50%;
	left:50%;
	margin-left:-105px;
	margin-top:-21px;
	font-size:14px;
	border:solid white 3px;
	border-radius:5px;
	text-align:center;
}
/**End**/

/* loading animate */
.load{position:absolute;width:100%;height:100%;top:0;left:0;background:#fff;z-index:999;}
.load-hide{display:none;}
.load-hide .full-loading{-webkit-animation: none; animation: none;}
.full-loading{position: fixed; z-index: 10; left: 50%; top: 50%; -webkit-animation: loadingAni 2s linear infinite; -o-animation: loadingAni 2s linear infinite; -ms-animation: loadingAni 2s linear infinite; -moz-animation: loadingAni 2s linear infinite; animation: loadingAni 2s linear infinite;}
.full-loading-i1,
.full-loading-i2{ position: absolute; left: 0; top: 0;}
.full-loading-i1:before,
.full-loading-i2:before,
.full-loading-i1:after,
.full-loading-i2:after{ content:''; display: block; position: absolute; width: 10px; height: 10px; border-radius: 50%; background: #00a0e9;}
.full-loading-i1:before{ left: 10px; top: -5px; width: 10px; height: 10px;} /* left */
.full-loading-i1:after{ right: 8px; top: -7px; width: 14px; height: 14px;} /* right */
.full-loading-i2:before{ left: -6px; top: 9px; width: 12px; height: 12px;} /* bottom */
.full-loading-i2:after{ left: -8px; bottom: 7px; width: 16px; height: 16px;} /* top */
.full-loading-hide{-webkit-animation: none; animation: none; display: none;}

.full-slideup-icon{ display: block; width: 30px; height: 30px; -webkit-animation: slideupAni 1.5s linear infinite;  animation: slideupAni 1.5s linear infinite;}
.full-slideup-icon:before,
.full-slideup-icon:after{ content:""; display: block; position: absolute; left: 50%; margin-left: -8px; width: 15px; height: 15px; border-left: 1px solid #fff; border-top: 1px solid #fff; -webkit-transform: rotate(45deg);  transform: rotate(45deg); }
.full-slideup-icon:before{top: 0;}
.full-slideup-icon:after{ top: 10px; }

.swiper-parent .swiper-slide{position:relative;background:none;}
.swiper-container{width:100%;height:100%;margin-left:auto;margin-right:auto;}
.swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;    justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items: center;}

.full-cnt{position:relative;overflow:hidden;width:100%;height:100%;left:0;top:0;}
.full-cnt01{background-color:#feda00;}
i.light,h2.title01,span.people,i.zi,i.p1,a.btn,em.mes,h2.title02,.page02,i.p2,i.zi02,i.tel,h2.title03,i.light02,h2.title04,h2.title05,i.about,.about-js,i.pet{position:absolute;display:block;top:50%;left:50%;background-size:100%;text-indent:-999em;background-repeat:no-repeat;}
i.light{top:0;left:0;width:100%;height:100%;background-image:url(../images/light.png);}
h2.title01{width:2.96rem;height:1.695rem;margin-left:-1.48rem;margin-top:-2rem;background-image:url(../images/title01.png);}
span.people{left:0;top:auto;bottom:0rem;width:100%;height:2rem;background-image:url(../images/people.png);}
i.zi{width:2.55rem;height:1.27rem;margin-left:-1.25rem;margin-top:-.5rem;background-image:url(../images/zi.jpg);}
i.p1{width:2.435rem;height:2.1rem;margin-left:-1.05rem;margin-top:-.25rem;background-image:url(../images/p1.png);}
em.mes01{top:0;left:0;width:.75rem;height:.63rem;background-image:url(../images/mes.png);background-position:0 0;background-size:1.39rem auto;}
a.btn{width:1.84rem;height:.445rem;margin-left:-.92rem;bottom:.2rem;top:auto;background-image:url(../images/btn.png);box-shadow:2px 3px 10px rgba(0,0,0,0.3);animation:moveIn 1s 2s forwards;-webkit-animation:moveIn 1s 2s forwards;-moz-animation:moveIn 1s 2s forwards;-o-animation:moveIn 1s 2s forwards;}

.ico-arrow{position:absolute;left:50%;bottom:.1rem;width:.275rem;height:.275rem;margin-left:-.1375rem;background-image:url(../images/arrow.png);background-repeat:no-repeat;background-size:100%;z-index:2;animation:moveBg 1s 1.2s both;}
.ico-arrow:after{content:'';position:absolute;top:0;left:0;width:.275rem;height:.275rem;border-radius:50%;background:rgba(255,249,55,0.3);animation:flicker 1s ease-out infinite forwards;}

.swiper-slide-active .full-cnt01 i.light,.full-cnt01.full-cnt-cur i.light{animation:enterDownBounce .5s;-webkit-animation:enterDownBounce .5s;-moz-animation:enterDownBounce .5s;-o-animation:enterDownBounce .5s;}
.swiper-slide-active .full-cnt01 h2.title01,.full-cnt01.full-cnt-cur h2.title01{animation:zoomFallDown .1s 1.5s ease-in,fadeIn .1s 1.5s both;-webkit-animation:zoomFallDown .1s 1.5s ease-in,fadeIn .1s 1.5s both;-moz-animation:zoomFallDown .1s 1.5s ease-in,fadeIn .1s 1.5s both;-ms-animation:zoomFallDown .1s 1.5s ease-in,fadeIn .1s 1.5s both;-o-animation:zoomFallDown .1s 1.5s ease-in,fadeIn .1s 1.5s both;}
.swiper-slide-active .full-cnt01 span.people,.full-cnt01.full-cnt-cur span.people{animation:enterDownBounce .5s;-webkit-animation:enterDownBounce .5s;-moz-animation:enterDownBounce .5s;}
.swiper-slide-active .full-cnt01 i.p1,.full-cnt01.full-cnt-cur i.p1{animation:bounceIn .3s .5s,fadeIn .1s .5s both;-webkit-animation:bounceIn .3s .5s,fadeIn .1s .5s both;-moz-animation:bounceIn .3s .5s,fadeIn .1s .5s both;}
.swiper-slide-active .full-cnt01 em.mes01,.full-cnt01.full-cnt-cur em.mes01{animation:enterDownBounce .3s .8s,fadeIn .1s .8s both;-webkit-animation:enterDownBounce .3s .8s,fadeIn .1s .8s both;-moz-animation:enterDownBounce .3s .8s,fadeIn .1s .8s both;}


.full-cnt02{background-color:#ec5938;}
h2.title02{width:2.44rem;height:1.405rem;background-image:url(../images/title02.png);margin-left:-1.22rem;top:.15rem;}
.page02{left:0;top:auto;bottom:0rem;width:100%;height:1.35rem;background-image:url(../images/page02.png);}
i.p2{width:3.015rem;height:2.16rem;top:auto;bottom:0;margin-left:-1.5075rem;background-image:url(../images/p2.png);}
em.mes02{width:.64rem;height:.52rem;margin-left:-1.5rem;margin-top:-1.4rem;background-image:url(../images/mes.png);background-position:-.75rem 0;background-size:1.39rem auto;}
em.mes03{width:.68rem;height:.525rem;margin-left:.6rem;margin-top:-1.3rem;background-image:url(../images/mes.png);background-position:0 -.65rem;background-size:1.39rem auto;}
em.mes04{width:.495rem;height:.42rem;left:auto;right:-.08rem;margin-top:-.75rem;background-image:url(../images/mes.png);background-position:-.75rem -.65rem;background-size:1.39rem auto;}
i.zi02{width:2.255rem;height:2.76rem;margin-left:-1.12525rem;margin-top:-.518rem;background-image:url(../images/zi02.png);}
i.pet{width:.675rem;height:.825rem;left:-.2rem;margin-top:-1.2rem;background-image:url(../images/pet.png);}
ul.list-sm{position:absolute;display:block;left:50%;top:50%;width:2.15rem;margin-left:-1.075rem;top:.2rem;}
ul.list-sm li{width:2.15rem;height:.335rem;background-image:url(../images/list.png);background-size:2.15rem auto;background-repeat:no-repeat;text-indent:-999rem;}
ul.list-sm li:nth-child(1){background-position:0 0;}
ul.list-sm li:nth-child(2){background-position:0 -.37rem;}
ul.list-sm li:nth-child(3){background-position:0 -.745rem;}
ul.list-sm li:nth-child(4){background-position:0 -1.15rem;}
ul.list-sm li:nth-child(5){background-position:0 -1.535rem;}
ul.list-sm li:nth-child(6){height:.36rem;background-position:0 -1.88rem;}

.swiper-slide-active .full-cnt02{}
.swiper-slide-active .full-cnt02 h2.title02{animation:zoomFallDown .2s .5s ease-in,fadeIn .2s .5s both;-webkit-animation:zoomFallDown .2s .5s ease-in,fadeIn .2s .5s both;-moz-animation:zoomFallDown .2s .5s ease-in,fadeIn .2s .5s both;}
/*.swiper-slide-active .full-cnt02 .page02{animation:enterDownBounce .5s,fadeIn .5s,moveBottom .5s 2s forwards;-webkit-animation:enterDownBounce .5s,fadeIn .5s,moveBottom .5s 2s forwards;-moz-animation:enterDownBounce .5s,fadeIn .5s,moveBottom .5s 2s forwards;}*/
.swiper-slide-active .full-cnt02 i.p2{animation:bounceIn .3s .5s,fadeIn .1s .5s both;-webkit-animation:bounceIn .3s .5s,fadeIn .1s .5s both;-moz-animation:bounceIn .3s .5s,fadeIn .1s .5s both;}
.swiper-slide-active .full-cnt02 em.mes02{animation:fadeIn .3s .8s both;-webkit-animation:fadeIn .3s .8s both;-moz-animation:fadeIn .3s .8s both;}
.swiper-slide-active .full-cnt02 em.mes03{animation:fadeIn .3s 1s both;-webkit-animation:fadeIn .3s 1s both;-moz-animation:fadeIn .3s 1s both;}
.swiper-slide-active .full-cnt02 em.mes04{animation:fadeIn .3s 1.4s both;-webkit-animation:fadeIn .3s 1.2s both;-moz-animation:fadeIn .3s 1.2s both;}
.swiper-slide-active .full-cnt02 i.pet{animation:enterRightBounce .3s 1.2s,fadeIn .3s 1.2s both;-webkit-animation:enterRightBounce .3s 1.2s,fadeIn .3s 1.2s both;-moz-animation:enterRightBounce .3s 1.2s,fadeIn .3s 1.2s both;}
.swiper-slide-active .full-cnt02 ul.list-sm li:nth-child(6){animation:enterDownBounce .3s 2s,fadeIn .3s 2s both;-webkit-animation:enterDownBounce .3s 2s,fadeIn .3s 2s both;-moz-animation:enterDownBounce .3s 2s,fadeIn .3s 2s both;}
.swiper-slide-active .full-cnt02 ul.list-sm li:nth-child(5){animation:enterDownBounce .3s 2.2s,fadeIn .3s 2.2s both;-webkit-animation:enterDownBounce .3s 2.2s,fadeIn .3s 2.2s both;-moz-animation:enterDownBounce .3s 2.2s,fadeIn .3s 2.2s both;}
.swiper-slide-active .full-cnt02 ul.list-sm li:nth-child(4){animation:enterDownBounce .3s 2.4s,fadeIn .3s 2.4s both;-webkit-animation:animation:enterDownBounce .3s 2.4s,fadeIn .3s 2.4s both;-moz-animation:animation:enterDownBounce .3s 2.4s,fadeIn .3s 2.4s both;}
.swiper-slide-active .full-cnt02 ul.list-sm li:nth-child(3){animation:enterDownBounce .3s 2.6s,fadeIn .3s 2.6s both;-webkit-animation:enterDownBounce .3s 2.6s,fadeIn .3s 2.6s both;-moz-animation:enterDownBounce .3s 2.6s,fadeIn .3s 2.6s both;}
.swiper-slide-active .full-cnt02 ul.list-sm li:nth-child(2){animation:enterDownBounce .3s 2.8s,fadeIn .3s 2.8s both;-webkit-animation:enterDownBounce .3s 2.8s,fadeIn .3s 2.8s both;-moz-animation:enterDownBounce .3s 2.8s,fadeIn .3s 2.8s both;}
.swiper-slide-active .full-cnt02 ul.list-sm li:nth-child(1){animation:enterDownBounce .3s 3s,fadeIn .3s 3s both;-webkit-animation:enterDownBounce .3s 3s,fadeIn .3s 3s both;-moz-animation:enterDownBounce .3s 3s,fadeIn .3s 3s both;}
.swiper-slide-active .full-cnt02 i.zi02{animation:zoomFallDown .2s 1s ease-in,fadeIn .2s 1s both;-webkit-animation:zoomFallDown .2s 1s ease-in,fadeIn .2s 1s both;-moz-animation:zoomFallDown .2s 1s ease-in,fadeIn .2s 1s both;}

.full-cnt04{background-color:#ffd71f;}
.moveTop{position:absolute;top:0;left:0;width:100%;height:80%;}
i.light02{width:4.5rem;height:4.5rem;top:50%;left:50%;margin-left:-2.25rem;margin-top:-2.25rem;background-image:url(../images/light02.jpg);background-size:4.5rem auto;background-position:center center;}
h2.title04{width:2.615rem;height:1.165rem;margin-top:-.5825rem;margin-left:-1.3075rem;background-image:url(../images/title04.png);}
.moveBg{position:absolute;left:0;bottom:0;width:100%;height:3.385rem;background-image:url(../images/bg.png);background-size:100%;background-repeat:no-repeat;}
.swiper-container-v{}
.swiper-container-v	.swiper-button-next,.swiper-container-v	.swiper-button-prev{width:.23rem;height:.405rem;background-image:url(../images/btn02.png);background-size:.48rem auto;}
.swiper-container-v	.swiper-button-next{background-position:-.25rem 0;}
.swiper-container-v	.swiper-button-prev{background-position:0 0;}
.serMain{}
.ser-show{display:block;background-repeat:no-repeat;background-size:100%;margin:0 auto;}
.show01{width:2.35rem;height:2.76rem;background-image:url(../images/ser01.png);}
.show02{width:2.405rem;height:3.005rem;background-image:url(../images/ser02.png);}
.show03{width:2.53rem;height:3.23rem;background-image:url(../images/ser03.png);}
.swiper-slide-active .full-cnt04 .show01{animation:enterRightBounce .5s 2s,fadeIn .5s 2s both;-webkit-animation:enterRightBounce .5s 2s,fadeIn .5s 2s both;-moz-animation:enterRightBounce .5s 2s,fadeIn .5s 2s both;}

.swiper-slide-active .full-cnt04 .moveTop{animation:moveTop .5s 1.8s forwards;-webkit-animation:moveTop .5s 1.8s forwards;-moz-animation:moveTop .5s 1.8s forwards;}
.swiper-slide-active .full-cnt04 h2.title04{animation:zoomFallDown .2s .8s ease-in,fadeIn .2s .8s both;-webkit-animation:zoomFallDown .2s .8s ease-in,fadeIn .2s .8s both;-moz-animation:zoomFallDown .2s .8s ease-in,fadeIn .8s 1s both;}
.swiper-slide-active .full-cnt04 i.light02{animation:rotate 3.5s .2s forwards;-webkit-animation:rotate 3.5s .2s forwards;-moz-animation:rotate 3.5s .2s forwards;}
.swiper-slide-active .moveBg{animation:moveBg .5s 1.8s,fadeIn .2s 1.8s both;-webkit-animation:moveBg .5s 1.8s,fadeIn .2s 1.8s both;-moz-animation:moveBg .5s 1.8s,fadeIn .2s 1.8s both;}

.full-cnt03{background-color:#808dbc;}
i.tel{width:1.225rem;height:1.22rem;margin-left:-.6125rem;top:.15rem;text-align:left;background-image:url(../images/tel.png);}
h2.title03{width:2.26rem;height:.61rem;margin-left:-1.13rem;top:1.5rem;background-image:url(../images/title03.png);}
.address{padding:0 .1rem;margin-top:2.2rem;color:#fff;font-size:.16rem;line-height:.2rem;text-align:left;}
.ewm{width:.8rem;margin:.1rem auto 0;text-align:center;color:#fff;}
.ewm img{display:block;max-width:100%;}

.full-about{background-color:#d25038;}
.full-about i.light02{background-image:url(../images/light03.jpg);}
.full-about .moveTop{}
h2.title05{width:1.975rem;height:.53rem;margin-left:-.987rem;margin-top:-.4rem;background-size:2.885rem auto;background-image:url(../images/about.png);background-position:0 0;}
i.about{width:2.885rem;height:1.44rem;margin-left:-1.4425rem;margin-top:.2rem;background-size:2.885rem auto;background-image:url(../images/about.png);background-position:0 -.92rem;}
.about-js{width:3.04rem;height:2.33rem;margin-left:-1.52rem;margin-top:-.1rem;background-image:url(../images/about_js.png);background-size:100%;background-repeat:no-repeat;}

.swiper-slide-active .full-about i.light02{animation:rotate 2.5s .2s forwards;-webkit-animation:rotate 2.5s .2s forwards;-moz-animation:rotate 2.5s .2s forwards;}
.swiper-slide-active .full-about .moveTop{animation:moveTop .5s 1.8s forwards;-webkit-animation:moveTop .5s 1.8s forwards;-moz-animation:moveTop .5s 2s forwards;}
.swiper-slide-active h2.title05{animation:zoomFallDown .2s .8s ease-in,fadeIn .2s .8s both;-webkit-animation:zoomFallDown .2s .8s ease-in,fadeIn .2s .8s both;-moz-animation:zoomFallDown .2s .8s ease-in,fadeIn .2s .8s both;}
.swiper-slide-active i.about{animation:zoomFallDown .2s 1.2s ease-in,fadeIn .2s 1.2s both;-webkit-animation:zoomFallDown .2s 1.2s ease-in,fadeIn .2s 1.2s both;-moz-animation:zoomFallDown .2s 1.2s ease-in,fadeIn .2s 1.2s both;}
.swiper-slide-active .about-js{animation:zoomFallDown .2s 2.4s ease-in,fadeIn .2s 2.4s both;-webkit-animation:zoomFallDown .2s 2.4s ease-in,fadeIn .2s 2.4s both;-moz-animation:zoomFallDown .2s 2.4s ease-in,fadeIn .2s 2.4s both;}
























